@media screen and (max-width: 48rem) {
  .button_sao-paulo {
    position: relative;
    top: -8rem;
  }
}

@media screen and (max-width: 20rem) {
  .button_sao-paulo {
    position: static;
    margin-top: 1.875rem;
  }
}
