.places__title_gales {
  margin: 0 -1.5rem 0 0;
}

@media screen and (max-width: 48rem) {
  .places__title_gales {
    margin: 1.313rem 0 0;
  }
}

@media screen and (max-width: 20rem) {
  .places__title_gales {
    margin: 0 auto 0.5rem;
  }
}
