.photo-grid__table {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 48rem) {
  .photo-grid__table {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

@media screen and (min-width: 20rem) and (max-width: 27rem) {
  .photo-grid__table {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
}
