.intro__title {
  font-size: 3.375rem;
  font-weight: 900;
  line-height: 3.625rem;
  margin: 0 auto 2.5rem;
}

@media screen and (min-width: 20rem) and (max-width: 26.563rem) {
  .intro__title {
    max-width: 18rem;
    font-size: 2rem;
    font-weight: 900;
    line-height: 2.188rem;
    margin: 0 auto 0.563rem;
  }
}
